# app specific
all.solu
*.solu
*.out
*.res
*.meta
*.err

# python
*.py[cod]
__pycache__
MANIFEST

# virtualenv
venv*

# cache
.cache

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# vim
*.swp

# Documentation
doc/build
doc/source/_modules

# pytests
.pytest_cache/
