ipet==0.0.9
click==6.6
elasticsearch==2.3.0
elasticsearch-dsl==2.0.0
flake8==3.2.1
numpy==1.11.0
pandas==0.18.0
pytest==3.0.2
python-dateutil==2.5.3
python-gitlab==0.14
pyyaml==3.12
requests==2.10.0
requests-toolbelt==0.7.0
scipy==0.17.0
tornado==4.3
