-e git+https://github.com/GregorCH/ipet.git@f40a7c543049a13f4ee38895254bad650ec4852f#egg=ipet
click==6.6
elasticsearch==2.3.0
elasticsearch-dsl==2.2.0
numpy==1.13.0
pandas==0.18.0
pytest==3.0.2
python-gitlab==0.14
requests==2.10.0
requests-toolbelt==0.7.0
scipy==0.17.0
tornado==4.3
