-e git+https://github.com/GregorCH/ipet.git@feca8ac6f1c4f01d9b19e678dc2264e53bcdf331#egg=ipet
click==6.6
elasticsearch==2.3.0
elasticsearch-dsl==2.2.0
Jinja2>=2.9.6
lxml==4.0.0
numpy==1.13.0
pandas==0.21.0
pytest==3.0.2
python-gitlab==0.14
requests==2.10.0
requests-toolbelt==0.7.0
scipy==0.17.0
tornado==4.3
zipfile36==0.1.3
