alabaster==0.7.12
Babel==2.6.0
commonmark==0.8.1
Cython==0.29.4
docutils==0.14
entrypoints==0.3
flake8==3.7.5
future==0.17.1
imagesize==1.1.0
mccabe==0.6.1
numpydoc==0.8.0
packaging==19.0
pep257==0.7.0
pycodestyle==2.5.0
pyflakes==2.1.0
Pygments==2.3.1
pypandoc==1.4
pyparsing==2.3.1
pytest==4.2.0
PyYAML==3.13
recommonmark==0.5.0
snowballstemmer==1.2.1
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
