alabaster
atomicwrites
attrs
Babel
certifi
chardet
Click
commonmark
Cython
docutils
elasticsearch==2.3.0
elasticsearch-dsl==2.2.0
entrypoints
flake8
future
idna
imagesize
-e git+https://github.com/GregorCH/ipet.git@c66f6a93b041f9244c8bd604e4f132d9e4bd17e8#egg=ipet
Jinja2
lxml
MarkupSafe
mccabe
more-itertools
numpy
numpydoc
packaging
pandas
pep257
pluggy
py
pycodestyle
pyflakes
Pygments
pypandoc
pyparsing
pytest
python-dateutil
python-gitlab
pytz
PyYAML
recommonmark
requests
requests-toolbelt
scipy
six
snowballstemmer
Sphinx
sphinxcontrib-websupport
toposort
tornado
urllib3
zipfile36
