-e git+https://github.com/GregorCH/ipet.git@c66f6a93b041f9244c8bd604e4f132d9e4bd17e8#egg=ipet
alabaster
Babel
CommonMark
Cython
click
docutils
elasticsearch==2.3.0
elasticsearch-dsl==2.2.0
flake8
imagesize
Jinja2
lxml
MarkupSafe
mccabe
numpydoc
numpy
pep257
py
pycodestyle
pandas
pytest
python-gitlab
pyflakes
Pygments
pypandoc
python-dateutil
pytz
PyYAML
recommonmark
requests
requests-toolbelt
scipy
six
snowballstemmer
Sphinx
sphinxcontrib-websupport
toposort
tornado
urllib3
zipfile36
