{% include datatables_core_js.html %}
{% include moment_js.html %}

{% if rb_dt_style == "bs4" %}

<!-- plugins - sorting -->
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/any-number.js"></script>

<!-- plugins - fixed columns -->
<script src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>

{% elif rb_dt_style == "std" %}

<!-- plugins - sorting -->
<script src="https://cdn.datatables.net/plug-ins/1.10.18/sorting/datetime-moment.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.18/sorting/any-number.js"></script>

<!-- plugins - fixed columns -->
<script src="https://cdn.datatables.net/fixedcolumns/3.2.5/js/dataTables.fixedColumns.min.js"></script>

{% end %}

