/*
 * Base structure
 */

body {
    font-family: 'Fira Mono', sans-serif;
    font-size: 16px;
    padding-top: 5rem;
}

/* Move down content because we have a fixed navbar that is 50px tall */
.headline {
  padding: 3rem 1.5rem;
}

p.exclusions {
    text-align: left;
}

table {
    word-wrap: break-word;
    margin-top: 15px;
    font-family: monospace;
    border: none;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

pre {
    display: block;
    max-height: 80vh;
    overflow: scroll;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
    background-color: lightgray;
}

div.ipet-long-toolbar {
  margin-bottom: 5px;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.row {
  margin-bottom: 10px;
}

.tooltip-inner {
  white-space: pre-wrap;
  text-align: left;
}

td {
  word-break: break-all;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  width: 10%;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  width: 100%;
}

.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
 * Loading icon
 */

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

div#loading-icon span.glyphicon {
    padding-right: 0px;
    margin-top: 100px;
    font-size: 2.0em;
}

div#loading-icon {
    height: 200px;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}


form {
    margin-top: 15px;
}

th,
.data-table {
    white-space: nowrap;
}
.data-table .number {
    text-align: right;
}
.data-table .text {
    text-align: left;
}
th.col_heading {
    text-align: right;
}
th.row_heading {
    text-align: left;
}
tbody > tr.hover > td,
tbody > tr.hover > th,
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #bdf !important;
}

.datatables_wrapper {
    margin-top:20px;
}

.dataTables_filter {
    float: left !important;
}

.DTFC_LeftBodyLiner {
    overflow-x: hidden;
}

.DTFC_Cloned {
    background-color: white;
}

.one-chart {
  padding: 20px;
}

.chart-title {
    font-size: 1.5rem;
}
.navbar-brand {
    color: #f5f5f5;
}

span.menu-glyphicon {
    padding-right: 15px;
}

.row-buffered {
    margin-top: 30px;
    margin-bottom: 30px;
}

.row {
    margin-left:0px;
    margin-right:0px;
}

span.h3-icon-leftalign {
    float: right;
}

/* Results Page */
/* Results Page Header */

.page-header-wrapper.results {
  position: relative;
}

.page-header-wrapper.results h1 {
  border: none;
}

.page-header-wrapper.results .page-header {
  float: left;
}

#resultNavTabs {
  width: 100%;
  padding-top: 7px;
}

#resultNavTabs::after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 1px;
  background-color: #ddd;
  left: 0;
  margin-top: -1px;
  z-index: -1;
}

/* Results Page Settings */
.tab-title {
}

.tab-buttons {
  width: 100%;
  margin-top: 20px;
  text-align: right;
  font-size: 24px;
}

.tab-buttons > a {
  display: inline-block;
}

.tab-buttons .glyphicon {
  padding: 0 7px;
}

td.highlighted-cell {
  background: #ff4d4d;
}

a.bs-tooltip {
    cursor: pointer;
}

/* Statistics Tab */

input.fieldKey {
    width: 5%;
}

select.comparator {
    width: 10px;
}

input.fieldValue {
    width: 5%;
}

/* Toggle buttons */
.quick .toggle-group { transition: none; -webkit-transition: none; }

.slider {
  width: 90% !important;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}
