/*
 * Base structure
 */

body {
    font-family: 'Fira Mono', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    padding-top: 5rem;
}

table {
  font-size: 0.85rem;
}

/* Move down content because we have a fixed navbar that is 50px tall */
.headline {
  padding: 3rem 1.5rem;
}

p.exclusions {
  font-family: monospace;
}

div.ipet-long-toolbar {
  margin-bottom: 5px;
}

td {
  word-break: break-all;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  width: 10%;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  width: 100%;
}

.main .page-header {
  margin-top: 0;
}

.rb-table-data {
  font-size: 1rem;
  word-wrap: break-word;
  font-family: monospace;
  border: none;
}

th,
.rb-table-data {
    white-space: nowrap;
}
.rb-table-data .number {
    text-align: right;
}
.rb-table-data .text {
    text-align: left;
}
th.col_heading {
    text-align: right;
}
th.row_heading {
    text-align: left;
}
tbody > tr.hover > td,
tbody > tr.hover > th,
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #bdf !important;
}

.datatables_wrapper {
    margin-top:20px;
}

.dataTables_info {
  text-align: left;
}

.dataTables_filter {
    float: left !important;
}

.DTFC_LeftBodyLiner {
    overflow-x: hidden;
}

.DTFC_Cloned {
    background-color: white;
}

.one-chart {
  padding: 20px;
}

.chart-title {
    font-size: 1.5rem;
}

td.highlighted-cell {
  background: #ff4d4d;
}

a.bs-tooltip {
  cursor: pointer;
}

/* Statistics Tab */

input.fieldKey {
    width: 5%;
}

select.comparator {
    width: 10px;
}

input.fieldValue {
    width: 5%;
}

/* Toggle buttons */
.quick .toggle-group { transition: none; -webkit-transition: none; }

.slider {
  width: 100% !important;
}

h1, h2, h3, h4, h5, h6 {
  /*
  border-bottom: 1px solid #aaa;
  */
}

h1 {
  margin-bottom: 2.5rem !important;
}

h2 {
  margin-bottom: 1rem !important;
}

fieldset {
  width: 100%;
}

span.important {
  color: #e83e8c;
}

#resultNavTabs {
  margin-bottom: 1rem;
}

.rb-details-tab-buttons  {
  font-size: 1.5rem;
  margin-bottom: -2.4rem;
  margin-right: 0rem;
}

.rb-testrun-table {
  margin-bottom: 1rem;
  overflow: auto;
}

.rb-buttons {
  margin: .3rem 0rem .3rem 0rem;
}

.rb-identical-vals {
  color: #666666;
  background-color: #f3f3f3;
}

a {
  color: darkblue;
}
