<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rubberband
      {% if page_title is not None %} - {{ page_title }}{% end %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Fira Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

    <!--Bootstrap core CSS -->
    {% include "includes/bootstrap_css.html" %}

    <!-- for icons use font-awesome -->
    {% include "includes/font_awesome_css.html" %}

    {% block extra_css %}
    {% end %}

    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="icon" href="/favicon.ico" />
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
      <!-- "Rubberband" and toggle get grouped for better mobile display -->
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Rubberband</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rb-mobile-navbar" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars" ></span>
        </button>

        <div class="collapse navbar-collapse" id="rb-mobile-navbar">
          <ul class="navbar-nav mr-auto rb-navbar">
            <li class="nav-item">
              <a class="nav-link" href="/search">
                <span class="fa fa-search" aria-hidden="true"></span>
                Search<span class="sr-only">(current)</span></a>
            </li>
            {% if options.gitlab_url %}
            <li class="nav-item">
              <a class="nav-link" href="/visualize">
                <span class="fa fa-chart-bar" aria-hidden="true"></span>
                Visualize</a>
            </li>
            {% end %}
            <li class="nav-item">
              <a class="nav-link" href="/upload">
                <span class="fa fa-upload" aria-hidden="true"></span>
                Upload</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/help">
                <span class="fa fa-question" aria-hidden="true"></span>
                Help</a>
            </li>
          </ul>

          <ul class="navbar-nav md-mr-auto rb-navbar">
            <li class="nav-item">
              <a class="nav-link" href="/user">
                <span class="fa fa-user" aria-hidden="true"></span>
                {{ current_user }}</a>
            </li>
          </ul>
        </div>
			</div>
    </nav>

    <main role="main" class="main">
      <div class="{% block bodyclass %}{% end %}">

        {% if page_title is not None %}
        <h1 class="page-header">{{ page_title }}</h1>
        {% end %}

        {% block body %}
        {% end %}

      </div>
    </main>

    <!-- JavaScript at end to decrease pageload time
      ================================================== -->
    {% include "includes/bootstrap_js.html" %}

    {% block extra_js %}
    {% end %}

    <script type="text/javascript" src="/static/js/navbar.js"></script>
  </body>
</html>
