<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rubberband</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    {% block extra_css %}
    {% end %}
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body class="top-buffer">
    <nav class="navbar navbar-fixed-top bg-primary">
      <div class="container-fluid">
        <!-- "Rubberband" and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#rb-mobile-navbar" aria-expanded="false">
            <span class="glyphicon glyphicon-menu-hamburger" ></span>
          </button>
          <a class="navbar-brand" href="/">Rubberband</a>
        </div>

        <!-- Collect navigation for toggling -->
        <div class="collapse navbar-collapse" id="rb-mobile-navbar">
          <ul class="nav navbar-nav-rb navbar-nav">
            <li><a href="/search" class="nav-link"><span class="glyphicon glyphicon-search menu-glyphicon" aria-hidden="true"></span>Search</a></li>
            {% if options.gitlab_url %}
            <li><a href="/visualize" class="nav-link"><span class="glyphicon glyphicon-stats menu-glyphicon" aria-hidden="true"></span>Visualize</a></li>
            {% end %}
            <li><a href="/upload" class="nav-link"><span class="glyphicon glyphicon-upload menu-glyphicon" aria-hidden="true"></span>Upload</a></li>
            <li><a href="/faq" class="nav-link"><span class="glyphicon glyphicon-question-sign menu-glyphicon" aria-hidden="true"></span>FAQ</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main" id="body-target">
      {% block title %}
      <h1 class="page-header">{{ page_title }}</h1>
      {% end %}
      {% block body %}
      {% end %}
    </div>
    <!-- JavaScript at end to decrease pageload time
      ================================================== -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block extra_js %}
    {% end %}
    <script type="text/javascript" src="/static/js/activeTab.js"></script>
  </body>
</html>
