<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rubberband</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    {% block extra_css %}
    {% end %}
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body class="top-buffer">
    <nav class="navbar navbar-fixed-top bg-primary">
      <a class="navbar-brand" href="/">Rubberband</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="sidebar">
          <ul class="nav nav-sidebar">
              <li><a href="/newest" class="nav-link"><span class="glyphicon glyphicon-list menu-glyphicon" aria-hidden="true"></span>Newest</a></li>
              <li><a href="/search" class="nav-link"><span class="glyphicon glyphicon-search menu-glyphicon" aria-hidden="true"></span>Search</a></li>
              {% if options.gitlab_url %}
              <li><a href="/visualize" class="nav-link"><span class="glyphicon glyphicon-stats menu-glyphicon" aria-hidden="true"></span>Visualize</a></li>
              {% end %}
              <li><a href="/upload" class="nav-link"><span class="glyphicon glyphicon-upload menu-glyphicon" aria-hidden="true"></span>Upload</a></li>
              <li><a href="/faq" class="nav-link"><span class="glyphicon glyphicon-question-sign menu-glyphicon" aria-hidden="true"></span>FAQ</a></li>
          </ul>
        </div>
        <div class="main" id="body-target">
            {% block title %}
            <h1 class="page-header">{{ page_title }}</h1>
            {% end %}
            {% block body %}
            {% end %}
        </div>
      </div>
    </div>
    <!-- JavaScript at end to decrease pageload time
    ================================================== -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% block extra_js %}
    {% end %}
    <script type="text/javascript" src="/static/js/activeTab.js"></script>
  </body>
</html>
