{% extends "search_form.html" %}
{% block extra_extra_js %}
<script type="text/javascript" src="/static/js/compare.js"></script>
{% end %}
{% block action %}
<div class="row">
  <form id="compare" name="compareform" method="post">

    <h4>Base Test Run</h4>
    <div class="col-md-12">
      <input id="search-base" name="base" value="{{base.meta.id}}" type="hidden" />
      <p>{{ base.filename }} by {{ base.uploader }}, git commit on {{ format_attr(base, "git_commit_timestamp") }}</p>
    </div>

    <button type="submit" class="btn btn-primary">Go!</button>
{% end %}
