{% extends "base.html" %}
{% block body %}
<div class="row">
<h4>How do I interpret the comparison view?</h4>
<p>
The compare view shows the same data as the Result Summary view, but for multiple test runs. The color of the cell represents how large the spread of values is ((largest-smallest)/base) for that particular instance and metric. The value in the tooltip represents the mean of all values. Each cell in the result summary also links to a chart, with all of the values plotted on a scatterplot.
</p>
<br>
<h4>When I click on <span class="glyphicon glyphicon-info-sign"></span>, it throws a 500.</h4>
<p>
The following two things happen when a file is uploaded:
</p>
<ol>
    <li><a href="https://git.zib.de/bzfmunoz/ipet">ipet</a> parses the input and stores that parsed input in elasticsearch</li>
    <li>the raw files are gzipped and sent to <a href="https://git.zib.de/integer/runlogs">integer/runlogs</a></li>
</ol>
<p>
If the first part fails, then the entire operation is aborted. If the first part succeeds however, and the second part fails, the operation from the first part is not rolled back. This results in a situation where you can see the parsed results, but the raw log files are not available, because the gitlab api rejected them at upload time. Usually, part 2 fails because the files violate Gitlab's filename restrictions. Here is a sample error message from Gitlab.
</p>
<pre>
Your changes could not be committed, because the file name can contain only letters, digits, '_', '-', '@' and '.'. Separate directories with a '/'.
</pre>
<p>A fix for this problem would be to simply change the filename to conform to Gitlab's requirements. Other potential reasons for this is behavior:
</p>
<ul>
    <li>HTTP timeouts for really large files</li>
    <li>Changes to the <a href="https://docs.gitlab.com/ce/api/">Gitlab API</a></li>
    <li>Our <a href="https://git.zib.de">Gitlab</a> instance is down or under maintenance</li>
</ul>
<p>Either way, a quick look at the application log (instuser@rubberband.zib.de:/var/log/supervisor/rubberband-stderr---supervisor-*.log) could help debug these kinds of problems.</p>
<br>
<h4>Something is broken. Where do I report it?</h4>
<p>
<a href="https://git.zib.de/optimization/rubberband/issues">Here.</a>
</p>
</div>
{% end %}
