{% extends "base.html" %}
{% block body %}
<div class="row">

<h3>What is Rubberband?</h3>
<p>
Rubberband is a flexible web view and analysis platform for solver log files of mathematical optimization software, backed by Elasticsearch.
</p>

<h3>Where do i report errors and other issues?</h3>
<p>
Rubberband is a project developped on GitHub, you can post your issue
<a href="https://github.com/ambros-gleixner/rubberband/issues">here</a>.
<!--<a href="https://git.zib.de/optimization/rubberband/issues">Here.</a>-->
</p>

</div>
{% end %}
