{% extends "narrow.html" %}

{% block content %}

<h2>What is Rubberband?</h2>
<p>
Rubberband is a flexible web view and analysis platform for solver log files of mathematical optimization software, backed by Elasticsearch.
</p>

<h2>Where do i report errors and other issues?</h2>
<p>
Rubberband is a project developped on GitHub, you can post your issue
<a href="https://github.com/ambros-gleixner/rubberband/issues">here</a>.
<!--<a href="https://git.zib.de/optimization/rubberband/issues">Here.</a>-->
</p>

{% end %}
