{% extends "wide.html" %}

<!------------------ body -------------->
{% block content %}

  <!-- headline ==================================================================== -->
  <div class="rb-details-tab-buttons row justify-content-end">

    <a class="bs-tooltip ml-2 mr-2" data-toggle="tooltip" data-placement="top" title="back to test run" href="/result/{{ result.testset_id }}{% if compare %}?compare={{ ','.join([c.testset_id for c in compare]) }}{% end %}">
      <span class="fa fa-chevron-left"></span></a>

    <a class="bs-tooltip ml-2 mr-2" data-toggle="tooltip" data-placement="top" title="view log" href="/file/{{ result.testset_id }}?ftype=.out&format=raw&instance={{ result.meta.id }}">
      <span class="fa fa-info-circle"></span></a>

    <span class="bs-tooltip ml-2 mr-2 rb-link" data-toggle="modal" data-placement="top" data-target="#downloadInstanceOptions" title="download results">
      <span class="fa fa-download"></span></span>

  </div>

  <h2 class="rb-details-tab-title">{{ result.instance_name }}</h2>

  <!-- end headline ==================================================================== -->

  <p>{{ result.instance_name }} has been tested {{ num_results }} times. Metrics that have a None value are excluded from the table below.</p>

  <div>
    <table id="instance-result" class="rb-table {{rb_dt_compact}} {{rb_dt_borderless}} rb-wrap-table" width="100%" >
      <thead>
        <tr>
          <th>Metric</th>
          <th>Value</th>
          {% for f in compare %}
          <th>Compare</th>
          {% end %}
        </tr>
      </thead>
      <tbody>
        {% for k in list(result) %}
        <tr>
          <td>{{ k.replace("_", " ") }}</td>
          <td>{{ format_attr(result, k) }}</td>
          {% for f in compare %}
          <td>{{ format_attr(f, k) }}</td>
          {% end %}
        </tr>
        {% end %}
      </tbody>
    </table>
  </div>

<!-- Modal -->
{% set modalbodydownload= '''
  <ul>
		<li><a href="/file/{id}?download=true&ftype=.out&format=raw&instance={result_id}" download="{name}.txt">plaintext</a></li>
		<li><a href="/file/{id}?download=true&ftype=.out&format=json&instance={result_id}" download="{name}.json">json</a></li>
	 <li>csv (coming soon!)</li>
  </ul>
	<h5>Selection</h5>
	<ul>
	  <li>json (coming soon!)</li>
	  <li>csv (coming soon!)</li>
	</ul>
'''.format(id=result.testset_id, result_id=result.meta.id, name=result.instance_name) %}

{% module Template("modal.html", id="downloadInstanceOptions", modalheading="Full Content", modalbody=modalbodydownload) %}
<!------------------ end body -------------->
{% end %}

<!------------------ extra css -------------->
{% block extra_css %}
{% include includes/datatables_css.html %}
{% end %}

<!------------------ extra js -------------->
{% block extra_js %}
{% include includes/datatables_core_js.html %}
<script type="text/javascript" src="/static/js/instance-detail.js"></script>
{% end %}
