{% extends "wide.html" %}

<!------------------ body -------------->
{% block body %}

  <!-- headline ==================================================================== -->
  <div class="rb-details-tab-buttons row justify-content-end">

    <a class="bs-tooltip ml-2 mr-2" data-toggle="tooltip" data-placement="top" title="back to test run" href="/result/{{ result.meta.parent }}{% if compare %}?compare={{ ','.join([c.meta.parent for c in compare]) }}{% end %}">
      <span class="fa fa-chevron-left"></span></a>

    <a class="bs-tooltip ml-2 mr-2" data-toggle="tooltip" data-placement="top" title="view log" href="/file/{{ result.meta.parent }}?ftype=.out&format=raw&instance={{ result.meta.id }}">
      <span class="fa fa-info-circle"></span></a>

    <span class="bs-tooltip ml-2 mr-2 rb-link" data-toggle="modal" data-placement="top" data-target="#downloadInstanceOptions" title="download results">
      <span class="fa fa-download"></span></span>

  </div>

  <h2 class="rb-details-tab-title">{{ result.instance_name }}</h2>

  <!-- end headline ==================================================================== -->

  <p>{{ result.instance_name }} has been tested {{ num_results }} times. Metrics that have a None value are excluded from the table below.</p>

  <div>
    <table class="instance-result table-hover table-sm table-borderless rb-wrap-table" width="100%" >
      <thead>
        <tr>
          <th>Metric</th>
          <th>Value</th>
          {% for f in compare %}
          <th>Compare</th>
          {% end %}
        </tr>
      </thead>
      <tbody>
        {% for k in list(result) %}
        <tr>
          <td>{{ k.replace("_", " ") }}</td>
          <td>{{ getattr(result, k, "--") }}</td>
          {% for f in compare %}
          <td>{{ getattr(f, k, "--") }}</td>
          {% end %}
        </tr>
        {% end %}
      </tbody>
    </table>
  </div>

<!-- Modal -->
{% module Template("modal.html", id="downloadInstanceOptions", modalheading="Download Formats", modalbody='''
	<h5>Full Content</h5>
  <ul>
		<li><a href="/file/{{ result.meta.parent }}?download=true&ftype=.out&format=raw&instance={{ result.meta.id }}" download="{{result.instance_name}}.txt">plaintext</a></li>
		<li><a href="/file/{{ result.meta.parent }}?download=true&ftype=.out&format=json&instance={{ result.meta.id }}" download="{{result.instance_name}}.json">json</a></li>
	 <li>csv (coming soon!)</li>
  </ul>
	<h5>Selection</h5>
	<ul>
	  <li>json (coming soon!)</li>
	  <li>csv (coming soon!)</li>
	</ul>
''') %}

<!------------------ end body -------------->
{% end %}

<!------------------ extra css -------------->
{% block extra_css %}
{% include includes/datatables_css.html %}
{% end %}

<!------------------ extra js -------------->
{% block extra_js %}
{% include includes/datatables_core_js.html %}
<script type="text/javascript" src="/static/js/instance-detail.js"></script>
{% end %}
