{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/dt/dt-1.10.12/datatables.min.css"/>
{% end %}
{% block extra_js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/sc-1.4.2/datatables.min.js"></script>
<script type="text/javascript" src="/static/js/instance_detail.js"></script>
{% end %}
{% block body %}
  <div class="row">
    <h3 class="tab-title">{{ result.instance_name }}</h3>
    <div class="tab-buttons">
	    <a class="bs-tooltip" data-toggle="tooltip" data-placement="top" title="back to test run" href="/result/{{ result.meta.parent }}{% if compare %}?compare={{ ','.join([c.meta.parent for c in compare]) }}{% end %}"><span class="glyphicon glyphicon-share-alt h3-icon-leftalign"></span></a>
      <a class="bs-tooltip" data-toggle="tooltip" data-placement="top" title="view log" href="/file/{{ result.meta.parent }}?ftype=.out&format=raw&instance={{ result.meta.id }}"><span class="glyphicon glyphicon-info-sign h3-icon-leftalign"></span></a>
      <a class="bs-tooltip" type="button" data-toggle="modal" data-target="#downloadInstanceOptions" title="download results" id="download-instance-results" data-placement="top" data-toggle="tooltip"><span class="glyphicon glyphicon-download-alt h3-icon-leftalign"></span></a>
    </div>
  </div>
<div class="row">
<p>{{ result.instance_name }} has been tested {{ num_results }} times. Metrics that have a None value are excluded from the table below.</p>
</div>
<div class="row">
<table class="instance-result table table-striped table-bordered">
  <thead>
    <tr>
      <th>Metric</th>
      <th>Value</th>
      {% for f in compare %}
      <th>Compare</th>
      {% end %}
    </tr>
  </thead>
  <tbody>
  {% for k in list(result) %}
    <tr>
      <td>{{ k.replace("_", " ") }}</td>
      <td>{{ getattr(result, k, "--") }}</td>
      {% for f in compare %}
      <td>{{ getattr(f, k, "--") }}</td>
      {% end %}
    </tr>
  {% end %}
  </tbody>
</table>
</div>

<!-- Modal -->
<div class="modal fade" id="downloadInstanceOptions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Download Formats</h4>
      </div>
      <div class="modal-body">
	<h5>Full Content</h5>
        <ul>
		<li><a href="/file/{{ result.meta.parent }}?download=true&ftype=.out&format=raw&instance={{ result.meta.id }}" download="{{result.instance_name}}.txt">plaintext</a></li>
		<li><a href="/file/{{ result.meta.parent }}?download=true&ftype=.out&format=json&instance={{ result.meta.id }}" download="{{result.instance_name}}.json">json</a></li>
	 <li>csv (coming soon!)</li>
        </ul>
	<h5>Selection</h5>
	<ul>
	  <li>json (coming soon!)</li>
	  <li>csv (coming soon!)</li>
	</ul>
      </div>
    </div>
  </div>
</div>
{% end %}
