<div id="{{ id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{ id }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5>{% if modalheading is not None %}{{ modalheading }}{% else %}{% end %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      {% if modalbody is not None %}
      <div class="modal-body">
        {% raw modalbody %}
      </div>
      {% end %}

      {% if modalfooter is not None %}
      <div class="modal-footer">
        {% raw modalfooter %}
      </div>
      {% end %}

    </div>
  </div>
</div>
