{% extends "narrow.html" %}

<!------------------ body -------------->
{% block content %}

  {% if starred_table %}
  <h3>Starred Testruns</h3>

  <div id="starred-table" class="rb-table-testrun">
    {% raw starred_table %}
  </div>
  {% end %}

  <h3 data-toggle="collapse" href="#all-cookies" role="button" class="rb-collapser">All cookies
    <span class="fa fa-cookie-bite red small float-right p-2"></span></h3>
  <div id="all-cookies" class="collapse">
    <table class="table table-sm">
      <tr>
        <th>Cookie</th>
        <th>Value</th>
      </tr>
    {% for i in mycookies %}
      <tr>
        <td>{{ i }}</td>
        <td>{{ mycookies[i] }}</td>
      </tr>
    {% end %}
    </table>
  </div>

  <div>
    <form action="/personal" method="post">
      {% module xsrf_form_html() %}
      <button class="btn btn-primary" type="submit">Clear all cookies</button>
    </form>
  </div>

{% end %}

<!------------------ extra js -------------->
{% block extra_js %}
<script src="/static/js/testruns.js"></script>
{% end %}
