{% extends "wide.html" %}

<!------------------ body -------------->
{% block content %}
<div class="alert alert-secondary">
  <h4>Search for testruns:</h4>
  <form id="form-search">
    <fieldset class="pr-3">
      <div class="row">
        <div class="form-group col-12 col-sm-6 col-md-3 col-xl-2">
          <label class="col-form-label" for="testset-select">Test Set</label>
          <select class="custom-select" name="test_set" id="testset-select">
            <option></option>
            {% for i in search_options["test_set"] %}
            <option value="{{i}}" {% if search_options["defaults"] and search_options["defaults"]["test_set"] == i %} selected {% end %}{% if i == "---------" %} disabled {% end %}>{{ i }}</option>
            {% end %}
          </select>
        </div>
        <div class="form-group col-12 col-sm-6 col-md-3 col-xl-2">
          <label class="col-form-label" for="settingsname-select">Settings Name</label>
          <select class="custom-select" name="settings_short_name" id="settingsname-select">
            <option></option>
            {% for i in search_options["settings_short_name"] %}
            <option value="{{i}}"{% if i == "---------" %} disabled {% end %}>{{ i }}</option>
            {% end %}
          </select>
        </div>
        <div class="form-group col-12 col-sm-6 col-md-3 col-xl-2">
          <label class="col-form-label" for="runmode-select">Run Mode</label>
          <select class="custom-select" name="mode" id="runmode-select">
            <option></option>
            {% for i in search_options["mode"] %}
            <option value="{{i}}" {% if search_options["defaults"] and search_options["defaults"]["mode"] == i %} selected {% end %}{% if i == "---------" %} disabled {% end %}>{{ i }}</option>
            {% end %}
          </select>
        </div>
        <div class="form-group col-12 col-sm-6 col-md-3 col-xl-2">
          <label class="col-form-label" for="runenvironment-select">Hostname</label>
          <select class="custom-select" name="run_environment" id="runenvironment-select">
            <option></option>
            {% for i in search_options["run_environment"] %}
            <option value="{{i}}"{% if i == "---------" %} disabled {% end %}>{{ i }}</option>
            {% end %}
          </select>
        </div>
        <div class="form-group col-12 col-sm-6 col-md-3 col-xl-2">
          <label class="col-form-label" for="uploadername-select">Original Uploader</label>
          <select class="custom-select" name="uploader" id="uploadername-select">
            <option></option>
            {% for i in search_options["uploader"] %}
            <option value="{{i}}"{% if i == "---------" %} disabled {% end %}>{{ i }}</option>
            {% end %}
          </select>
        </div>
        <div class="form-group col-12 col-sm-6 col-md-3 col-xl-2">
          <label class="col-form-label" for="solver-select">Solver</label>
          <select class="custom-select" name="solver" id="solver-select">
            <option></option>
            {% for i in search_options["solver"] %}
            <option value="{{i}}"{% if i == "---------" %} disabled {% end %}>{{ i }}</option>
            {% end %}
          </select>
        </div>
        <div class="form-group col-12 col-sm-6 col-md-3 col-xl-2">
          <label class="col-form-label" for="solverversion-select">Solver Version</label>
          <select class="custom-select" name="solver_version" id="solverversion-select">
            <option></option>
            {% for i in search_options["solver_version"] %}
            <option value="{{i}}"{% if i == "---------" %} disabled {% end %}>{{ i }}</option>
            {% end %}
          </select>
        </div>
        <div class="form-group col-12 col-sm-6 col-md-3 col-xl-2">
          <label class="col-form-label" for="commithash-input">Solver Commit Hash</label>
          <input class="form-control" name="git_hash" id="commithash-input">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-3 col-xl-2">
          <label class="col-form-label" for="lpsolver-select">LP Solver</label>
          <select class="custom-select" name="lp_solver" id="lpsolver-select">
            <option></option>
            {% for i in search_options["lp_solver"] %}
            <option value="{{i}}"{% if i == "---------" %} disabled {% end %}>{{ i }}</option>
            {% end %}
          </select>
        </div>
        <div class="form-group col-12 col-sm-6 col-md-3 col-xl-2">
          <label class="col-form-label" for="lpsolverversion-select">LP Solver Version</label>
          <select class="custom-select" name="lp_solver_version" id="lpsolverversion-select">
            <option></option>
            {% for i in search_options["lp_solver_version"] %}
            <option value="{{i}}"{% if i == "---------" %} disabled {% end %}>{{ i }}</option>
            {% end %}
          </select>
        </div>
        <div class="form-group col-12 col-sm-6 col-md-3 col-xl-2">
          <label class="col-form-label" for="tags">Tag(s)</label>
          <input class="form-control" name="tags" id="tags">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-3 col-xl-2">
          <label class="col-form-label" for="resultnumber-input">Number of results</label>
          <input class="form-control" name="limit" id="resultnumber-input" value="100" type="number">
        </div>
      </div>
    </fieldset>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" id="search-button">Search</button>
      <button type="button" class="btn btn-danger" id="reset-search-button">Reset</button>
    </div>
  </form>
</div>

<!-- compare form ==================================================================== -->
<form id="compare" name="compareform" action="/compare" method="post">

<div class="alert alert-info">
  <div class="row">
    <label class="col-form-label col">Compare selected Testruns?</label>
    <div class="col">
      <button type="submit" class="btn btn-primary float-right">Compare</button>
    </div>
  </div>
</div>

{% if compare_table %}
<h3 data-toggle="collapse" href="#compares-table" role="button" class="rb-collapser">Comparison Testruns<span class="fa fa-angle-down small float-right p-2"></span></h3>
<div id="compares-table" class="rb-testrun-table collapse show">
  {% raw compare_table %}
</div>
{% end %}

{% if starred_table %}
<h3 data-toggle="collapse" href="#starred-table" role="button" class="rb-collapser">Starred Testruns<span class="fa fa-angle-down small float-right p-2"></span></h3>
<div id="starred-table" class="rb-testrun-table collapse">
  {% raw starred_table %}
</div>
{% end %}

<h3>Search result</h3>
<div id="results-table">
  Couldn't find results for given query.
</div>

</form>
<!-- end compare form ==================================================================== -->
{% end %}

<!------------------ extra css -------------->
{% block extra_css %}
{% include "includes/datatables_css.html" %}
{% end %}

<!------------------ extra js -------------->
{% block extra_js %}
{% include "includes/moment_js.html" %}
{% include "includes/datatables_js.html" %}

<script type="text/javascript" src="/static/js/testruns.js"></script>
<script type="text/javascript" src="/static/js/fill-search-query.js"></script>
<script type="text/javascript" src="/static/js/compare.js"></script>
<script type="text/javascript" src="/static/js/search.js"></script>
{% end %}

