{% extends "base.html" %}
{% block extra_css%}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://dc-js.github.io/dc.js/css/dc.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
{% end %}
{% block extra_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
<script type="text/javascript" src="/static/js/statistics.js"></script>
{% end %}
{% block body %}
<div class="row">
<h3 class="tab-title">{{ file.test_set }}</h3>
<div class="tab-buttons">
<a class="bs-tooltip" data-toggle="tooltip" data-placement="top" title="back to test run" href="/result/{{ file.meta.id }}"><span class="glyphicon glyphicon-share-alt h3-icon-leftalign"></span></a>
</div>
</div>
  <h4>Testruns</h4>
  {% raw rendered_results_table %}

<p>Input your desired search query below.</p>
<form id="statistics" name="statisticsform" class="form-inline">
  <div class="statsFormFields">
    <div class="row" id="group1">
      <input autocomplete="off" type="text" class="form-control fieldKey" name="field1" placeholder="Instance Feature" required>
      <select class="form-control comparator" name="comparator1" required>
        <option value="==">=</option>
        <option value="!=" >!=</option>
        <option value="<">&lt;</option>
        <option value="<=">&lt;=</option>
        <option value=">">&gt;</option>
        <option value=">=">&gt;=</option>
      </select>
      <input autocomplete="off" type="text" class="form-control fieldValue" name="value1" required>
    </div>
    </div>
    {% if compare %}
    <div class="row-buffered">
      <p>Should the input query apply to instances in all test runs, or instances in at least one test run?</p>
      <select class="form-control one-or-all" name="oneorall" required>
        <option value="all">All test runs</option>
        <option value="one">One test run</option>
      </select>
    </div>
    <input type="text" name="compare" value="{{ ",".join([c.meta.id for c in compare]) }}" hidden required>
    {% end %}
    <button type="submit" class="btn btn-success" id="startStatsQuery">Go!</button>
</form>

<div class="row headline">
{% if hasattr(file, "stats") %}
<h4>Matched Instances</h4>
<p>{{ ", ".join(file.matched) }}</p>
<h4>Filtered Solving Status</h4>
{% include "results/stats_status_summary.html" %}
{% include "results/stats_by_status.html" %}
{% else %}
<p>Nothing to see here.</p>
{% end %}
</div>
{% end %}
