{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/dt/dt-1.10.12/datatables.min.css"/>
{% end %}
{% block extra_js %}
<script type="text/javascript" src="https://cdn.datatables.net/u/dt/jq-2.2.3,dt-1.10.12/datatables.min.js"></script>
{% end %}
{% block body %}
<table class="result-table">
  <thead>
    <tr>
      <th>Instance Name</th>
      <th>Type</th>
      <th>Original Cons</th>
      <th>Original Vars</th>
      <th>Presolved Cons</th>
      <th>Presolved Vars</th>
      <th>Dual Bound</th>
      <th>Primal Bound</th>
      <th>Gap %</th>
      <th>Iterations</th>
      <th>Nodes</th>
      <th>Time</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  {% for r in instances %}
  <tr>
      <td><a href="/visualize?data-type=Instance&data-name={{ r["_source"]["instance_name"] }}&start-date={{start_date}}&end-date={{end_date}}">{{ r["_source"]["instance_name"] }}</td>
      <td>{{ r["_source"]["instance_type"] }}</td>
      <td>{{ r["_source"]["original_constraints"] }}</td>
      <td>{{ r["_source"]["original_variables"] }}</td>
      <td>{{ r["_source"]["presolved_constraints"] }}</td>
      <td>{{ r["_source"]["presolved_variables"] }}</td>
      <td>{{ r["_source"]["dual_bound"] }}</td>
      <td>{{ r["_source"]["primal_bound"] }}</td>
      {% if r["_source"]["dual_bound"] %}
      <td>{{ r["_source"]["primal_bound"]*100/r["_source"]["dual_bound"] - 100 }}%</td>
      {% else %}
      <td>0.0%</td>
      {% end %}
      <td>{{ r["_source"]["iterations"] }}</td>
      <td>{{ r["_source"]["nodes"] }}</td>
      <td>{{ r["_source"]["time_seconds"] }}</td>
      <td>{{ r["_source"]["result_status"] }}</td>
    </tr>
  {% end %}
  </tbody>
</table>
{% end %}
