{% extends "narrow.html" %}

<!------------------ body -------------->
{% block content %}
<form class="alert alert-secondary" method="POST" name="fileUpload" enctype="multipart/form-data">
  <h2>Upload logfiles:</h2>
  <fieldset>
    <div class="row">
      <div class="form-group row col-12">
        <p class="col-12">Please select a set of logfiles for upload: <code>*.out</code>, <code>*.err</code>, <code>*.set</code> and <code>*.meta.</code>
        The collection should contain exactly one logfile.</p>
        <div class="col-12">
          <div class="row custom-file col-12">
            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
            <input class="custom-file-input" type="file" id="validatedCustomFile" name="resultFiles" multiple>
          </div>
        </div>
      </div>

      <div class="form-group row col-12">
        <label class="col-12"><span class="important">Optional:</span> Specify a comma separated list of tags to more easily find this run in the future.</label>
        <div class="col-12">
          <input type="text" class="form-control" name="tags" id="tagsInput" placeholder="enforelax, repairheuristics, SAP, etc">
        </div>
      </div>

      <div class="form-group row col-12">
        <label class="col-12"><span class="important">Optional:</span> Provide an expiration date for this TestRun. </label>

        <div class="input-group date col-12" id="datetimepicker" data-target-input="nearest">
          <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker" name="expirationdate"/>
          <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>

      </div>
    </div>
  </fieldset>

  <div class="form-group row col-12 col-sm-6 col-md-4 col-xl-3" role="group">
    <button type="submit" class="btn btn-primary col">Upload</button>
  </div>
</form>

{% if msgs %}
<div class="alert alert-info">
  <div class="col">
  <pre><code>
    {% for m in msgs %}
    Processing {{ m }}
      {% for i in msgs[m] %}
      {{ i }}
      {% end %}
    {% end %}
  </code></pre>

    {% if resulturl %}
    <p><a href="{{ resulturl }}">{{ resulturl }}</a></p>
    {% end %}
  </div>
</div>
{% end %}
{% end %}

<!------------------ extra css -------------->
{% block extra_css%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
{% end %}

<!------------------ extra js -------------->
{% block extra_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript" src="/static/js/initdatetime.js"></script>
{% end %}

