{% extends "narrow.html" %}

<!------------------ body -------------->
{% block content %}
<div class="alert alert-info">
  <h2>Visualize instance data:</h2>
  <form id="visualize" method="get" name="visualizeform">
    <fieldset class="pr-3">
      <div class="row">
        <div class="form-group col-12 col-sm-6 col-xl-3">
          <label class="col-form-label">Type of data</label>
          <select class="custom-select" name="data-type">
            <option>Instance</option>
          </select>
        </div>
        <div class="form-group col-12 col-sm-6 col-xl-3">
          <label class="col-form-label">Data Name</label>
          <input class="custom-select typeahead" name="data-name" data-provide="typeahead" autocomplete="off" placeholder="e.g. sparse2, linking, etc">
        </div>
        <div class="form-group col-12 col-sm-6 col-xl-3">
          <label class="col-form-label">Start Date</label>
          <div class="input-group date" id="datetimepicker_start" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_start" name="start-date" autocomplete="off" value="{{ default_start_date }}" />
            <div class="input-group-append" data-target="#datetimepicker_start" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
        <div class="form-group col-12 col-sm-6 col-xl-3">
          <label class="col-form-label">End Date</label>
          <div class="input-group date" id="datetimepicker_end" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_end" name="end-date" autocomplete="off" value="{{ default_end_date }}" />
            <div class="input-group-append" data-target="#datetimepicker_end" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
      </div>
    </fieldset>
    <div class="btn-group" role="group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<div id="charts" hidden>
  <span class='reset' style='visibility: hidden;'>
    Current filter: <span class='filter'></span>
  </span>
  <div class="row">
    <div class="one-chart" id="solved-statuses">
      <div>
        <span class="chart-title">Result Statuses</span>
        <a class="reset" href="javascript:charts.solvedStatusesChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </div>
    </div>
    <div class="one-chart" id="solving-nodes">
      <div>
        <span class="chart-title">Solving Nodes</span>
        <a class="reset" href="javascript:charts.solvingNodesChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="one-chart" id="opt-mode">
      <div>
        <span class="chart-title">Run mode</span>
        <a class="reset" href="javascript:charts.runModesChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </div>
    </div>
    <div class="one-chart" id="solving-times">
      <div>
        <span class="chart-title">Solving Time</span>
        <a class="reset" href="javascript:charts.solvingTimesChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="dc-results-count">
      <span class='filter-count'></span> selected out of <span class='total-count'></span> records.
    </div>
    <table id="results-table" class="table rb-table">
      <thead>
        <tr class='header'>
          <th>Original File</th>
          <th>Git Commit Date</th>
          <th>Run Mode</th>
          <th>Nodes</th>
          <th>Solving Time</th>
          <th>Iterations</th>
        </tr>
      </thead>
    </table>
  </div>
  {% end %}

<!------------------ extra css -------------->
{% block extra_css%}
{% include "includes/datetimepicker_css.html" %}
{% include "includes/dc_css.html" %}
{% include "includes/datatables_css.html" %}
{% end %}

<!------------------ extra js -------------->
{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>

{% include "includes/datatables_js.html" %}
{% include "includes/dc_js.html" %}
{% include "includes/datetimepicker_js.html" %}
<script src="/static/js/visualize.js"></script>
{% end %}

